@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

* { /*Apply the configurations into all the webpage.*/
    margin: 0; /*Removed margin to have better control in each part of the page.*/
    padding: 0; /*Removed padding to have better control in each part of the page.*/
    box-sizing: border-box; /*Define how to write the height and width of elements. Border-box we'll change the height and width until the border.*/
    list-style: none; /*Remove the bullet points.*/
}

body {
    background-color: white;
    color: #000000; /*Font colour.*/
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

header .logo {
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 2rem; /*Using rem to adjust what the user choose. Not fixed. ("RElative Measure")*/
    background-color: #dedede;
    color: black;
}

header button {
    display: block;
    margin: 20px auto; /* centralizado, mas você pode alinhar como quiser */
    padding: 8px 16px;
    cursor: pointer;
}

header button {
    height: 30px;
    width: 140px;
}

header nav ul {
    display: flex;
    gap: 48px
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0px;
}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: black;
    transition: width 0.2s ease;

}

header nav ul li:hover::after {
    width: 100%;
}

main {
    padding-top: 150px;
    padding-left: 50px;
}



.logo-image {
    width: 150px;
    height: auto;
}


.body-image {
    width: 300px;
    height: auto;
}
