@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

* { /*Apply the configurations into all the webpage.*/
    margin: 0; /*Removed margin to have better control in each part of the page.*/
    padding: 0; /*Removed padding to have better control in each part of the page.*/
    box-sizing: border-box; /*Define how to write the height and width of elements. Border-box we'll change the height and width until the border.*/
}

body {
    background-color: white;
    color: #000000; /*Font colour.*/
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

header {
    display: grid; /*Put the elements side by side according to the number of elements inside the header. There're three.*/
    grid-template-columns: 1fr auto 1fr; /*Each column, first 1fr, second auto and third 1fr.*/
    align-items: center; 
    text-align: center;
    padding: 2rem; /*Using rem to adjust what the user choose. Not fixed. ("RElative Measure")*/
    background-color: #dedede;
    color: black;
}

header h1 {
    justify-self: center;
    margin: 0;
}

header #colorblind-toggle {
    justify-self: end;
}









.logo-image {
    width: 150px;
    height: auto;
}


.body-image {
    width: 300px;
    height: auto;
}
